# Node
nenocare-ai/node_modules/

# Next.js
nenocare-ai/.next/
nenocare-ai/out/

# Env files
nenocare-ai/.env
nenocare-ai/.env.*

# Logs
nenocare-ai/npm-debug.log*
nenocare-ai/yarn-debug.log*
nenocare-ai/yarn-error.log*

# OS
.DS_Store
.env
